
{
    "environment": {},
    "taskId": "497d490f-eea7-4f2b-ab94-48d9c1acdcb1",
    "version": "3.*",
    "name": "{{name}}",
    "refName": "",
    "enabled": {{enabled|default("true")}},
    "alwaysRun": false,
    "continueOnError": false,
    "timeoutInMinutes": 0,
    "definitionType": "task",
    "overrideInputs": {},
    "condition": "{{condition | default("succeeded()" | replace("\"", "\\\""))}}",
    "inputs": {
        "ConnectedServiceName": "{{_connectedServiceName}}",
        "WebAppKind": "{{webAppKind | default('app')}}",
        "WebAppName": "{{webAppName}}",
        "DeployToSlotFlag": "{% if deployToSlot %}True{% else %}False{% endif %}",
        "ResourceGroupName": "{% if deployToSlot %}{{deployToSlot.resourceGroup}}{%endif%}",
        "SlotName": "{% if deployToSlot %}{{deployToSlot.slotName}}{%endif%}",
        "ImageSource": "Registry",
        "AzureContainerRegistry": "",
        "AzureContainerRegistryLoginServer": "",
        "AzureContainerRegistryImage": "",
        "AzureContainerRegistryTag": "",
        "DockerRepositoryAccess": "public",
        "RegistryConnectedServiceName": "",
        "PrivateRegistryImage": "",
        "PrivateRegistryTag": "",
        "DockerNamespace": "",
        "DockerRepository": "",
        "DockerImageTag": "",
        "VirtualApplication": "{% if virtualApplication %}{{virtualApplication}}{%endif%}",
        "Package": "{{packagePath}}",
        "BuiltinLinuxPackage": "{{packagePath}}",
        "RuntimeStack": "",
        "StartupCommand": "",
        "WebAppUri": "",
        "ScriptType": "",
        "InlineScript": ":: You can provide your deployment commands here. One command per line.",
        "ScriptPath": "",
        "GenerateWebConfig": "false",
        "WebConfigParameters": "",
        {% if appSettings %}"AppSettings": "{% for key,value in appSettings.items() %}-{{ key }} {{value | replace('"','\"')}} {% endfor %}",{%endif%}
        "ConfigurationSettings": "",
        "TakeAppOfflineFlag": "false",
        "UseWebDeploy": "false",
        "SetParametersFile": "",
        "RemoveAdditionalFilesFlag": "false",
        "ExcludeFilesFromAppDataFlag": "false",
        "AdditionalArguments": "",
        "RenameFilesFlag": "false",
        "XmlTransformation": "false",
        "XmlVariableSubstitution": "false",
        "JSONFiles": ""
    }
}