 {
    "environment": {},
    "taskId": "94a74903-f93f-4075-884f-dc11f34058b4",
    "version": "2.*",
    "name": "ARM Deploy: {{ armResourceName }}",
    "refName": "AzureResourceGroupDeployment_{{_taskGuid}}",
    "enabled": {{enabled|default("true")}},
    "alwaysRun": false,
    "continueOnError": false,
    "timeoutInMinutes": 0,
    "definitionType": "task",
    "overrideInputs": {},
    "condition": "{{condition | default("succeeded()" | replace("\"", "\\\""))}}",
    "inputs": {
        "ConnectedServiceName": "{{_connectedServiceName}}",
        "action": "Create Or Update Resource Group",
        "resourceGroupName": "{{ resourceGroup }}",
        "location": "{{ resourceGroupLocation }}",
        "templateLocation": "Linked artifact",
        "csmFileLink": "",
        "csmParametersFileLink": "",
        "csmFile": "{{ resourceArmTemplateFile }}",
        "csmParametersFile": "{{ resourceArmParameterFile }}",
        "overrideParameters": "{% for key,value in overrideParams.items() %}-{{ key }} {{value | replace('"','\\"')}} {% endfor %}",
        "deploymentMode": "Incremental",
        "enableDeploymentPrerequisites": "None",
        "deploymentGroupEndpoint": "",
        "project": "",
        "deploymentGroupName": "",
        "copyAzureVMTags": "true",
        "runAgentServiceAsUser": "false",
        "userName": "",
        "password": "",
        "outputVariable": "",
        "deploymentOutputs": ""
    }
}