{
	"environment": {},
	"taskId": "333b11bd-d341-40d9-afcf-b32d5ce6f23b",
	"version": "2.*",
	"name": "{{name}}",
	"refName": "NuGetCommand2",
	"enabled": true,
	"alwaysRun": false,
	"continueOnError": false,
	"timeoutInMinutes": 0,
	"definitionType": "task",
	"overrideInputs": {},
	"condition": "{{condition | default("succeeded()" | replace("\"", "\\\""))}}",
	"inputs": {
		"command": "{{command}}",
		"solution": "**/*.sln",
		"selectOrConfig": "select",
		"feedRestore": "",
		"includeNuGetOrg": "true",
		"nugetConfigPath": "",
		"externalEndpoints": "",
		"noCache": "false",
		"disableParallelProcessing": "false",
		"packagesDirectory": "",
		"verbosityRestore": "Detailed",
		"searchPatternPush": "{{pattern | replace('\\', '\\\\')}}",
		"nuGetFeedType": "internal",
		"feedPublish": "",
		"allowPackageConflicts": "false",
		"externalEndpoint": "",
		"verbosityPush": "Detailed",
		"searchPatternPack": "**/*.csproj",
		"configurationToPack": "$(BuildConfiguration)",
		"outputDir": "$(Build.ArtifactStagingDirectory)",
		"versioningScheme": "off",
		"includeReferencedProjects": "false",
		"versionEnvVar": "",
		"requestedMajorVersion": "1",
		"requestedMinorVersion": "0",
		"requestedPatchVersion": "0",
		"packTimezone": "utc",
		"includeSymbols": "false",
		"toolPackage": "false",
		"buildProperties": "",
		"basePath": "",
		"verbosityPack": "Detailed",
		"arguments": "{% if arguments %}{{arguments|replace('\\','\\\\') | replace('\"','\\"')}}{% endif %}"
		}
}