{
    "environment": {},
    "taskId": "e0b79640-8625-11e8-91be-db2878ff888a",
    "version": "0.*",
    "name": "{{name}}",
    "refName": "",
    "enabled": {{enabled|default("true")}},
    "alwaysRun": false,
    "continueOnError": false,
    "timeoutInMinutes": 0,
    "definitionType": "task",
    "overrideInputs": {},
    "condition": "{{condition | default("succeeded()" | replace("\"", "\\\""))}}",
    "inputs": {
        "command": "{{command | default('download')}}",
        "downloadDirectory": "{{downloadDirectory | default("$(System.DefaultWorkingDirectory)")}}",
        "internalOrExternalDownload": "{%if internal%}internal{%else%}external{%endif%}",
        "externalEndpoint": "{{endpoint}}",
        "feedListDownload": "{{feedId}}",
        "packageListDownload": "{{packageId}}",
        "versionListDownload": "{{version}}",
        "feedDownloadExternal": "{{feedId}}",
        "packageDownloadExternal": "{{packageId}}",
        "versionDownloadExternal": "{{version}}",
        "publishDirectory": "{{ publishDirectory | default("$(Build.ArtifactStagingDirectory)")}}",
        "internalOrExternalPublish": "{%if internal%}internal{%else%}external{%endif%}",
        "externalEndpoints": "",
        "feedListPublish": "{{feedlistpublish}}",
        "packageListPublish": "{{packagename}}",
        "feedPublishExternal": "{{feedlistpublish}}",
        "packagePublishExternal": "{{packagename}}",
        "versionPublishSelector": "{{selector | default('patch')}}",
        "versionPublish": "{{versionNum}}",
        "packagePublishDescription": "{{packagedesc}}",
        "verbosity": "None"
    }
}
