{
    "environment": {},
    "taskId": "ef087383-ee5e-42c7-9a53-ab56c98420f9",
    "version": "2.*",
    "name": "{{name}}",
    "refName": "",
    "enabled": true,
    "alwaysRun": false,
    "continueOnError": false,
    "timeoutInMinutes": 0,
    "definitionType": "task",
    "overrideInputs": {},
    "condition": "{{condition | default("succeeded()" | replace("\"", "\\\""))}}",
    "inputs": {
        "testSelector": "testAssemblies",
        "testAssemblyVer2": "{{files | replace("\\","\\\\") | replace("\n", "\\n") | replace("\"", "\\\"")}}",
        "testPlan": "",
        "testSuite": "",
        "testConfiguration": "",
        "tcmTestRun": "$(test.RunId)",
        "searchFolder": "{{folder}}",
        "testFiltercriteria": "",
        "runOnlyImpactedTests": "False",
        "runAllTestsAfterXBuilds": "50",
        "uiTests": "false",
        "vstestLocationMethod": "version",
        "vsTestVersion": "15.0",
        "vstestLocation": "",
        "runSettingsFile": "{{runSettingsFile}}",
        "overrideTestrunParameters": "{% if overrideParams %}{% for key,value in overrideParams.items() %}--{{ key }} {{value | replace('"','\\"')}} {% endfor %}{% endif %}",
        "pathtoCustomTestAdapters": "",
        "runInParallel": "False",
        "runTestsInIsolation": "False",
        "codeCoverageEnabled": "False",
        "otherConsoleOptions": "",
        "distributionBatchType": "basedOnTestCases",
        "batchingBasedOnAgentsOption": "autoBatchSize",
        "customBatchSizeValue": "10",
        "batchingBasedOnExecutionTimeOption": "autoBatchSize",
        "customRunTimePerBatchValue": "60",
        "dontDistribute": "False",
        "testRunTitle": "",
        "platform": "",
        "configuration": "",
        "publishRunAttachments": "true",
        "diagnosticsEnabled": "True",
        "collectDumpOn": "onAbortOnly",
        "rerunFailedTests": "False",
        "rerunType": "basedOnTestFailurePercentage",
        "rerunFailedThreshold": "30",
        "rerunFailedTestCasesMaxLimit": "5",
        "rerunMaxAttempts": "3"
    }
}