{
    "environment": {},
    "taskId": "521d1e00-f5fb-4b73-a93b-b2fe88a9af82",
    "version": "18.*",
    "name": "{{name}}",
    "refName": "",
    "enabled": true,
    "alwaysRun": false,
    "continueOnError": false,
    "timeoutInMinutes": 0,
    "definitionType": "task",
    "overrideInputs": {},
    "condition": "{{condition | default("succeeded()" | replace("\"", "\\\""))}}",
    "inputs": {
        "cwd": "{{cwd}}",
        "extensions": "{{extensions}}",
        "exclude": "",
        "checkPolicies": "SEND_ALERTS",
        "productRule": "{{productRule | default('productToken')}}",
        "productName": "",
        "productToken": "{{productToken}}",
        "productVersion": "",
        "requesterEmail": "",
        "projectRule": "{{productRule | default('projectToken')}}",
        "projectName": "$(Build.Repository.Name)",
        "projectToken": "{{projectToken}}",
        "forceCheckAllDependencies": "false",
        "forceUpdate": "false",
        "failOnError": "true",
        "WhiteSourceService": "{{serviceEndpoint}}",
        "proxyUrl": "",
        "proxyUsername": "",
        "proxyPassword": "",
        "connectionTimeoutField": "",
        "connectionRetries": "1",
        "connectionRetriesInterval": "3"
    }
}